<!-- <nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav> -->



<md-nav-bar nav-bar-aria-label="navigation links">
	<!-- TO DO:
    // add ui-sref-active or md-selected-nav-item
    -->
	<md-nav-item md-nav-sref="{{ item.state }}" ng-repeat="item in items">{{ item.label }}</md-nav-item>
	<span flex></span>
	<md-button ng-show="!user" ui-sref="login" class="md-raised">Login</md-button>

	<!-- TO DO:
    // set up routes and logic for signup and garden
    // adjust height imbalance on button text (related to use of ng-click vs ui-sref
    // add correct state names once those are written
     -->
	<md-button ng-show="user" ng-click="logout()" class="md-raised">Logout</md-button>
	<md-button ng-show="!user" ui-sref="signup" class="md-raised">Sign Up</md-button>
	<md-button ng-show="user" ui-sref="garden" class="md-raised">Garden</md-button>
</md-nav-bar>

