<!-- <nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav> -->

<md-nav-bar nav-bar-aria-label="navigation links">
	<md-nav-item ng-repeat="item in items" md-nav-sref="{{ item.state }}" ng-show="!item.auth || isLoggedIn()">
        {{ item.label }}
    </md-nav-item>

	<span flex></span>
    
    <!-- TO DO:
    // buttons or nav items?
    -->
	<md-button ng-show="!user" ui-sref="login">Login</md-button>

	<!-- TO DO:
    // set up routes and logic for signup and garden
    // adjust height imbalance on button text (related to use of ng-click vs ui-sref
    // add correct state names once those are written
     -->
	<md-button ng-show="user" ng-click="logout()">Logout</md-button>
	<md-button ng-show="!user" ui-sref="signup">Signup</md-button>
	<md-button ng-show="user" ui-sref="garden">Garden</md-button>
</md-nav-bar>



