<section id="path" class="" flex layout-gt-sm="row">
	<div flex="50">
		<md-icon md-svg-src="/images/ic_spa_black_24px.svg"></md-icon>
		<plant-directive></plant-directive>
	</div>
	<div flex="50">
		<h2>{{ pathInfo.name }}</h2>
		<p>{{ pathInfo.description }}</p>

		<div ng-repeat="(key, value) in challenges | groupBy: 'level'">
			<h3>Level {{ key }}</h3>
			<md-list flex>
				<md-list-item ng-repeat="challenge in value" ui-sref="challenge({ id:challenge.id })">
					{{ challenge.title }}
				</md-list-item>
			</ul>
		</div>
	</div>
</section>