<section id="path" class="" flex layout-gt-sm="row" >
	<md-card flex="50" flex-sm="100">
		<md-icon md-svg-src="/images/ic_spa_black_24px.svg"></md-icon>
		<p>Here is a representation of a plant</p>
	</md-card>
	<md-card flex="50" flex-sm="100">
		<md-card-header>
			<h2>{{ pathInfo.name }}</h2>
			<p>{{ pathInfo.description }}</p>
		</md-card-header>

		<md-card ng-repeat="(key, value) in challenges | groupBy: 'level'">
			<md-card-header>Level {{ key }}</md-card-header>
			<md-list flex>
			<div>
				<md-list-item ng-repeat="challenge in value" ui-sref="challenge({ id:challenge.id })">
				<!-- <md-icon md-show="challenge.complete" md-svg-src="/images/ic_check_circle_black_24px.svg"></md-icon> -->
					{{ challenge.title }}
				</md-list-item>
			</div>
			</md-list>
		</md-card>
	</md-card>
</section>
