.node {
  cursor: pointer;
}

.node circle {
  fill: #bbe81b;
  stroke: #3cc995;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #168168;
  stroke-width: 3px;
}