<form id="username-form" name="usernameForm" novalidate
  ng-submit="usernameForm.$valid && checkUsername(signup.userName)">
    <md-input-container>
        <label for="userName">Choose a username</label>
        <input type="text" ng-model="signup.userName" id="userName" class="form-control" placeholder="Enter a unique username" ng-change="clearChecked()" ng-pattern="/^[a-zA-Z0-9\-\_]+$/" required>

        <md-button type="submit" class="md-raised md-primary" ng-hide="!dupeName && checkedName" ng-disabled="usernameForm.$invalid">
            Check Availability
        </md-button>
    </md-input-container>
    <alert type="danger" ng-show="dupeName">{{ dupeName }}</alert>
    <alert type="danger" ng-show="usernameForm.$error.pattern ">
        Please use only letters, numbers, dash (-) and underscore (_). </alert>
</form>

<div ng-show="!dupeName && checkedName">
    <h5>Great! The name {{signup.userName}} is available. To continue: </h5>
    <!-- <img src="http://i.stack.imgur.com/ZW4QC.png" ng-click="signupFacebook()" />
    <h4>Or create an account below:</h4> -->
</div>
<form id="signup-form" name="signupForm" ng-show="!dupeName && checkedName"
    ng-submit="signupForm.$valid && submitNewUser(signup)" novalidate>
    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <!-- <div class="form-group">
        <label for="name">Name</label>
        <input type="text" ng-model="signup.name" class="form-control" id="name" placeholder="Your name (optional)">
    </div> -->
    <md-input-container>
        <label for="email">Email address</label>
        <input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="Your email">
    </md-input-container>
    <md-input-container>
        <label for="signup-password">Password</label>
        <input type="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Password">
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary">Submit</md-button>
</form>
