<section id="challenge-view" layout="row" class="yellow">
	<md-card flex="33" flex-xs="25">
		<md-card-header>Challenge: {{challenge.title}}</md-card-header>
		<div><small>Language: {{challenge.language}}</small></div>
		<div>Description: {{challenge.description}}</div>
		<div>Examples: {{challenge.examples}}</div>
	</md-card>

	<div flex="66" flex-xs="100">
		<md-card id="ace_card" ><form>
			<md-card-header>	Enter your solution below:</md-card-header>
			<div ui-ace="{useWrapMode: true}" ng-model="userCode"></div>
			<md-button type="submit" ng-click="runTests(userCode)" class='deepBlue' id='btn1'>Submit</md-button>
			<md-button type="save" ng-click="saveCode(userCode)" class='md-warn' id='btn2'>Save Code</md-button>
			<span ng-show="saved">Your code has been saved!</span>
		</form></md-card>

		<md-card id="results-card">
			<md-card-header> Results:  </md-card-header>
			{{results}}
		</md-card>
	</div>
</section>
