<section flex >
<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <md-input-container>
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </md-input-container>
    <md-input-container>
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </md-input-container>
    <div>
        <md-button type="submit" class="md-raised md-primary">Log In</md-button>
    </div>
</form>
</section>
