.ace_editor {
    height: calc(100vh - 405px);
    font-size: 14px !important;
    font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace !important;
    margin-top: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .ace_print-margin {
        //removes vertical split line
        display: none;
    }
    .ace-layer {
        z-index: 0;
    }
    .ace_gutter > .ace_layer {
        min-width: 30px;
    }
}

md-card#results-card {
    height: 230px;
    max-height: calc(100vh - 300px);
    margin-top: 12px;

}

#challenge-view{
        background-color: darken(#FFFBD1,10%);
        height: 100%;

    div {
        padding: 0px 0px 5px 0px;
    }
    code {
        font-size: 1.2em;
        font-weight: 500;
        color: #335577;
    }
    md-card {
        padding: 5px 10px 5px 10px;
        background-color: lighten(#FFFBD1,7%);
            margin-top: 10px;
        md-card {
            background-color: white;
        }
        md-card-header,  {
            margin: -10px -10px 0px -10px;
            background-color: lighten(rgb(139,195,74),12%)
        }
        #lvl{
            margin: -25px -10px 5px -10px;
            padding-left: 16px;
            background-color: lighten(rgb(139,195,74),12%)
        }

        #btn1, #btn2 {
            padding-left: 36px;
            padding-right: 36px;
        }

    }
    .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
        transition: all linear 0.15s;

    }
    .animate-show.ng-hide {
        line-height: 0;
        opacity: 0;
        padding: 0 10px;
    }

}
.mono {
    font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace !important;
    white-space: pre;
}
